<%- include("partials/header") %>

<div class="body">
    <div class="container-fluid">
        <h4 class="about">About Us</h4>
    
        <p>Sedek Doors and Cabinets is a brand committed to producing quality finished wood doors and cabinets at affordable prices. Our standard range of products includes various designs of doors and cabinets in diverse dimensions and textures, all to meet the varying requirements of our esteemed customers. Special bulk orders can also be made for designated non listed products</p>

        <p>Each Sedek product benefits from a perfect blend of human skill and machine precision, resulting in a unique finish. Over the years we have also fine-tuned the art of space and fittings, helping you set up your space even better than imagined. Sedek doors are of solid frame construction, and available in molded panel, MDI and particle board. Standard dimensions are 700-1500mm (opening) x 2040mm (height) with a door thickness of 45mm.</p>
    </div>

    <ul class="nav nav-tabs nav-fill">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Molded Panel Doors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Flush Doors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cabinets</a>
        </li>
      </ul>
    <div class="container-fluid">
        
    </div>
</div>

<%- include("partials/footer") %>