
.logo {
    position: relative;
    width: 120px;
    margin:auto;
}

.tagline {
    position: absolute;
    bottom: -12px;
    right:12px;
    font-family: "Comic San MS", cursive, sans-serif;
    font-weight: bold;
    font-size: 9px;
}

fieldset {
    border: 1px solid black;
    margin: 1em;
    padding: 0.3em;
}